---
layout: page
title: Portfolio
permalink: /portfolio/
---

{% capture the_collection %}{{site.projects}}{% endcapture %}
  {% if site.projects %}
    {% assign  document = site.projects | sort: "type" %}
  {% endif %}

<!-- AYTO DOULEUEI GIA TA PROJECTS POY EINAI STON FAKELO projects -->
<ul class="list-inline text-center projects">
  {% for links in document %}
    {% if links.title %}
    <li>
      <a href="{{ links.url | prepend: site.baseurl}}">
        <div>
          <img src="{{ site.baseurl }}/img/thumbnails/{{ links.img_thum }}"/>
          <h4>{{ links.title }}</h4>
          <h5>{{ links.type }}</h5>
        </div>
      </a>
    </li>
    {% endif %}
 {% endfor %}
</ul>
