/*carousel*/
.carousel {
	// width: 80%;
	display: block;
}

.carousel-indicators {
	bottom: 0px;
}

.car_arrow {
	height: 6%;
	margin-top: -3%;
	position: absolute;
	top: 50%;
	z-index: 5;
}
.car_arrow_right{
	left: 70%;
}
.car_arrow_left {
	-ms-transform: rotate(180deg); /* IE 9 */
	-webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
	transform: rotate(180deg);
	right: 70%;
}

.carousel-control.right  {
	background-image: none;
}
.carousel-control.left  {
	background-image: none;
}
