

.projects 		{ display: inline-block; margin: 10% 1%; max-width: 960px;}
.projects li 	{ margin:0px 15px; min-height: 160px;}
.projects img { height:100px; border-radius: 5px;position: relative; top: 3px; z-index: 1;}

.projects div {
  width: 106px;
  height: 106px;
  background: #187ea4;
  border-radius:6px;
  -webkit-transition: height 2s;
  transition: height 0.4s;
}
.projects div:hover {height: 150px;}


.projects div:hover h4 {
	transform: translateY(40px);
	transition: transform 0.3s;
}
.projects div:hover h5 {
	transform: translateY(40px);
	transition: transform 0.3s;
}

h4 {
	font-size:20px;
	font-weight: 300;
	color:white;
  margin: 0px;
  margin-top: -35px;
	transform: translateY(-50%);
	transition: transform 0.3s;
}

h5 {
	font-size: 0.8em;
	font-weight: 300;
	color:white;
	opacity: 0.8;
	font-style: italic;
  margin: 0px;

  margin-top: 3px;
	transform: translateY(-50%);
	transition: transform 0.3s;

}
