---
layout: default
---

{% capture the_collection %}{{site.projects}}{% endcapture %}
  {% if site.projects %}
    {% assign  document = site.projects | sort: "type" %}
  {% endif %}

  {% for links in document %}
      {% if links.title == page.title %}
          {% unless forloop.first %}
              {% assign prevurl = prev.url %}
              {% assign prevtitle = prev.title %}
              {% assign previmg = prev.img_thum %}
          {% endunless %}
          {% unless forloop.last %}
              {% assign next = document[forloop.index] %}
              {% assign nexturl = next.url %}
              {% assign nexttitle = next.title %}
              {% assign nextimg = next.img_thum %}
          {% endunless %}
      {% endif %}
      {% assign prev = links %}
  {% endfor %}

<div class="show_project">

  <div class="row">
    {% if prevurl %}
    <div class="prev_next_img2 col-md-2 col-sm-2">
      <a href="{{prevurl | prepend: site.baseurl}}">
        <div class="slick-prev2"></div>
        <img class="" src="{{ site.baseurl }}/img/thumbnails/{{ previmg }}"/>
      </a>
    </div>
    {% endif %}
    <div class="titles col-md-8 col-sm-8 ">
      <h2> {{ page.title }} </h2>
      <h5> {{ page.type }} </h5>
    </div>
    {% if nexturl %}
    <div class="prev_next_img2 col-md-2 col-sm-2">
      <a href="{{nexturl | prepend: site.baseurl}}">
        <img class="" src="{{ site.baseurl }}/img/thumbnails/{{ nextimg }}"/>
        <div class="slick-next2"></div>
      </a>
    </div>
    {% endif %}

  </div>

  <div class="slick_imgs slider single-item">
    {% for img_p in page.img_proj %}
      <img src="{{ site.baseurl }}/img/projects/{{ img_p }}" alt="screens of 44 treats">
    {% endfor %}
  </div>
  <h6> {{ content }} </h6>
</div>
